/* Diseño tarjetas */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 35px;
  max-width: 1200px;

  
}

/* Estilo de las tarjetas */
.card {
  background-color: #fff;
  border-radius: 10px;
  border-color: #C4F6C0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 25px;
  text-align: left;
  margin-bottom: 15px;
}

.card img {
  max-width: 100%;
  border-radius: 10px 10px 0 0;
}

.card h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  margin: 15px 0;
  color: #33767F;
  font-weight: bold;
}
.card p {
  font-family: Arial, Helvetica, sans-serif;
  color: #334957;
  font-size: 10pt;
  margin: 0 0 15px;
}
.card .cost {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #53A692;
  font-size: 20pt;
  margin: 0 0 15px;
}

.card .sold-count {
  font-family: Arial, Helvetica, sans-serif;
  color: #334957;
  font-size: 14pt;
}

/* Diseño responsivo para tarjetas */

/* Para resoluciones estándar (1366 x 768 px) */
@media (min-width: 992px) {
  .card-container .col-lg-4 {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
}

/* Para tabletas en modo vertical (768 x 1024 px) */
@media (max-width: 991px) and (min-width: 768px) {
  .card-container .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

/* Para smartphones pequeños (320 x 568 px) */
@media (max-width: 767px) {
  .card-container .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/* Para barra de busqueda por nombre */
#searchBar {
  text-align: center;
  margin: 1em;
}

#searchInput, #searchButton {
  background-color: rgb(215, 215, 215);
  padding: 0.3em;
  padding-left: 0.6em;
  padding-right: 0.6em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-style: solid;
  border-width: 0.1em;
  border-radius: 1.5em;
  border-color: #b7b7b8;
}
#searchInput:focus {
  outline: none;
  background-color: rgb(232, 232, 232);
}
#searchButton:hover {
  background-color: #33767F;
  color: azure;
}
#searchButton:active {
  background-color: #334957;
  color: azure;
}
